.list {
	margin: 3rem 4rem 2rem;
	min-height: 54.5vh;

	@media screen and (max-width: 600px) {
		margin: 3rem 1.5rem 2rem;
		.heading-primary {
			font-size: 2rem;
		}
	}

	.btn-tertiary {
		font-size: 1rem;
		margin: 0 auto;
		display: table;
		padding: 1rem 1.5rem;
	}

	&-total {
		font-size: 2.2rem;
		margin: 2rem 2rem 0;
		font-weight: 300;

		&-title {
			text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
		}
	}
}
