@import '../../sass/abstracts/variables.scss';

.reservation-form {
	width: 70%;
	margin: 3.5rem auto 0;

	@media screen and (max-width: 900px) {
		width: 80%;
	}

	@media screen and (max-width: 500px) {
		width: 90%;
	}

	.heading-primary-subheading {
		font-weight: 300;
		font-size: 2.2rem;
		margin: 0 0 2rem -1.5rem;
		display: inline-block;
	}

	&__group {
		width: 80%;
		margin: 1.5rem auto;

		@media screen and (max-width: 650px) {
			width: 90%;
		}
		@media screen and (max-width: 500px) {
			width: 100%;
		}
	}

	&-item {
		font-size: 1.1rem;
		margin: 1rem 0.2rem;
	}

	&-title {
		font-size: 1.2rem;
		margin-right: 0.5rem;
		color: $color-dark-7;
		font-weight: 500;
	}

	.jobs-list {
		border: 1px solid $color-dark-7;
		padding: 1rem 1.8rem;
		border-radius: 6px;
		margin: 1rem 0 1.5rem;

		@media screen and (max-width: 500px) {
			padding: 0.8rem 1rem;
			margin: 1rem 0;
		}

		&-title {
			font-size: 1.5rem;
			margin-bottom: 0.8rem;
			margin-left: -0.2rem;
		}
	}

	.form {
		&__group-job {
			display: flex;
			align-items: center;

			.btn-icon {
				margin-left: 0;
				margin-bottom: 1.8rem;
			}
		}

		&__group select {
			margin-bottom: 0;
			width: 95%;
		}

		&__label {
			color: $color-dark-7;
		}
	}

	&-cancel {
		margin-left: 2rem;
		background-color: inherit;
		border: none;
		cursor: pointer;
		transition: all 0.2s ease-out;
		backface-visibility: hidden;
		transform: perspective(1px) scale(0.9) translateY(4px);

		.fas {
			color: $color-dark-7;
			font-size: 1.6rem;
		}

		&:hover {
			backface-visibility: hidden;
			-webkit-transform: perspective(1px) scale(1) translateY(4px);
			transform: perspective(1px) scale(1);
		}

		&:active,
		&:focus {
			outline: none;
		}
	}

	.btn-right {
		margin-top: 0;
	}
}
