@import '../../../sass/abstracts/variables.scss';

.manage-schedule {
	margin: 3rem 4rem 2rem;
	min-height: 54.5vh;

	@media screen and (max-width: 900px) {
		margin: 2rem 1.5rem;
	}
	@media screen and (max-width: 500px) {
		margin: 2rem 1rem;
	}

	&-row {
		display: flex;
		width: 100%;
		margin-top: 2rem;

		@media screen and (max-width: 650px) {
			flex-direction: column;
			margin-top: 0;
		}

		.react-calendar {
			margin: 0 auto;
		}
	}

	&-calendar {
		width: 40%;

		@media screen and (max-width: 650px) {
			width: 100%;
		}
	}

	&-details {
		width: 60%;

		@media screen and (max-width: 650px) {
			width: 100%;
			margin-top: 1rem;
		}
		@media screen and (max-width: 500px) {
			margin-top: 2rem;
		}

		.fas,
		.far {
			font-size: 1.4rem;
		}

		.btn-quaternary .fas {
			font-size: 1.2rem;
		}

		&-title {
			font-weight: 400;
			color: $color-dark-7;
			font-size: 1.7rem;
			margin: 1rem 2rem 1rem;

			@media screen and (max-width: 650px) {
				font-size: 1.5rem;
			}
		}

		&-res {
			margin: 2rem 1rem 1rem;

			@media screen and (max-width: 500px) {
				margin: 2rem 0 0;
			}
		}

		&-item {
			padding: 0.8rem;
			color: $color-white;
			border-radius: 0.8rem;
			margin: 0.5rem 0;
			background-color: $color-dark-8;
			display: flex;
			align-items: center;
			justify-content: space-around;
			transition: all 0.2s ease-out;
			transform: scale(0.95);

			&.disabled {
				background-color: $color-light-2 !important;
			}

			&:hover {
				transform: scale(1);
				background-color: lighten($color-dark-8, 5%);
			}
		}

		.btn {
			&-link {
				background-color: unset;
			}

			&-icon {
				font-size: 1.3rem;
			}

			@media screen and (max-width: 500px) {
				padding: 0.8rem 1rem;
				font-size: 1rem;
			}
		}
	}

	.tooltip {
		position: relative;
		z-index: 10;

		.tooltiptext {
			visibility: hidden;
			background-color: $color-light-3;
			color: $color-white;
			font-size: 1.4rem;
			max-width: 100%;
			width: max-content;
			text-align: center;
			border-radius: 0.6rem;
			padding: 0.5rem 1rem;
			top: -3.3rem;
			left: 50%;
			transform: translateX(-50%);
			transition: all 0.1s ease-out;

			/* Position the tooltip */
			position: absolute;
			z-index: 50;
		}

		&:hover .tooltiptext {
			visibility: visible;
			transform: translateX(-50%) scale(1);
		}
	}
}
